@import url('font-awesome.css');

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


html,body,#mapa {
  font-family: 'Lato', Calibri, Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

.form {
	background: #fffaf6;
	color: #7e7975;
	height: 180px;
	left: 75%;
	margin: -150px 0 0 -170px;
	padding: 15px;	
	position: absolute;
	top: 65%;
	width: 340px;
	border-radius: 4px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2),
		0 0 0 12px rgba(255, 255, 255, 0.4);
}

.form h1 {
	font-size: 15px;
	font-weight: bold;
	color: #bdb5aa;
	padding-bottom: 8px;
	border-bottom: 1px solid #EBE6E2;
	text-shadow: 0 2px 0 rgba(255, 255, 255, 0.8);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.form h1 .log-in {
	display: inline-block;
	text-transform: uppercase;
	color: #6c6763;
	padding-right: 2px;
}

.form .float {
    width: 50%;
    float: left;
    padding-top: 15px;
    border-top: 1px solid rgba(255,255,255,1);
}

.form .float:first-of-type {
    padding-right: 5px;
}

.form-2 .float:last-of-type {
    padding-left: 5px;
}

.form label {
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    font-size: 11px;
}

.form label i {
    margin-right: 5px; /* Gap between icon and text */
    display: inline-block;
    width: 10px;
}

.form input[type=text],
.form input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.form input[type=text]:hover,
.form input[type=password]:hover {
    border-color: #CCC;
}

.form label:hover ~ input {
    border-color: #CCC;
}

.form input[type=text]:focus,
.form input[type=password]:focus {
    border-color: #BBB;
    outline: none; /* Remove Chrome's outline */
}

.form input[type=button]{
    /* Size and position */
    width: 47%;
    height: 35px;
    float: left;
    position: relative;

    /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;

    /* Font styles */
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 38px; /* Same as height */
    text-align: center;
    font-weight: bold;
}

.form input[type=button] {
    margin-left: 1%;
    background: #fbd568; /* Fallback */
    background: -moz-linear-gradient(#fbd568, #ffb347);
    background: -ms-linear-gradient(#fbd568, #ffb347);
    background: -o-linear-gradient(#fbd568, #ffb347);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbd568), to(#ffb347));
    background: -webkit-linear-gradient(#fbd568, #ffb347);
    background: linear-gradient(#fbd568, #ffb347);
    border: 1px solid #f4ab4c;
    color: #996319;
    text-shadow: 0 1px rgba(255,255,255,0.3);
}

.form input[type=button]:hover{
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.3), 
        inset 0 20px 40px rgba(255,255,255,0.15);
}

.form input[type=button]:active{
    top: 1px;
}

/* Fallback fro broswers that don't support box shadows */
.no-boxshadow .form input[type=button]:hover {
    background: #ffb347;
}

.no-boxshadow .form {
    background: #2a8ac4;
}

.form p:last-of-type {
    clear: both;    
}

.form .opt {
    text-align: right;
    margin-right: 3px;
}

.form label[for=showPassword] {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 400;
    text-transform: capitalize;
}

.form input[type=checkbox] {
    vertical-align: middle;
    margin: -1px 5px 0 1px;
}
