html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#map {
	margin: 0;
	padding: 0;
	height: 100%;                       /* para navegadores que não suportam calc() */
	height: -webkit-calc(100% - 42px);  /* para Chrome */
	height: -moz-calc(100% - 42px);     /* para Firefox */
	height: calc(100% - 42px);      
}